@use "../mixins/mixins" as mixins;
@use "../variables/variables" as v;

.nav {
  position: fixed;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0);
  transition: all 0.4s ease-in-out;
  z-index: 1;
  color: white;
  padding: 0 2rem;
  font-family: v.$primary-font;

  //this is used to center the elements , with space between
  > * {
    flex: 1;
  }
}
//used to handel hover & scroll
.nav.active {
  background-color: rgba($color: #000000, $alpha: 1);
  height: 8rem;
  //create the underline when hovering the nav
  .motto::after {
    width: 12rem;
  }
}
.navOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  h1 {
    font-family: v.$secondary-font;
  }
  div {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  h5:hover {
    cursor: pointer;
  }
}
.motto {
  font-family: v.$title-font;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: red;
    transition: all 0.4s ease-in-out;
  }
}
.iconHolder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 1.5rem;
  position: relative;
  .itemNumber {
    background-color: red;
    color: white;
    position: absolute;
    top: -0.4rem;
    right: 1rem;
    width: 1.4rem;
    height: 1.2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
