@use "../variables/variables" as v;

.heroImg {
  position: absolute;
  min-width: 100%;
  top: 0;
  height: 33rem;
  object-fit: cover;
  z-index: -2;
}
.shopGradient {
  position: absolute;
  min-width: 100%;
  min-height: 33rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.14) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}
.shop {
  display: grid;
  grid-template: 33rem 1fr / 1fr;
}
.shopHero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: v.$title-font;
  font-size: xx-large;
  //to account for nav height
}
.shopMain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.25rem;
  background-color: black;
  padding: 1rem 3rem;
}
.shopItem {
  position: relative;
  display: grid;
  grid-template: 1fr 3rem / 1fr;
  border-radius: 1rem;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  img {
    object-fit: cover;
    width: 100%;
  }
  .priceHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: v.$title-font;
    font-size: large;
    transition: all 0.3s ease-in-out;
  }
  .itemOverlay {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 3rem;
    background-color: black;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: v.$title-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  &:hover {
    transform: translateY(-10px);
    cursor: pointer;
    .priceHolder {
      background-color: white;
      color: black;
    }
    .itemOverlay {
      opacity: 0.8;
    }
  }
}
