@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap");
$primary-font: "Playfair Display", serif;
$secondary-font: "Josefin Sans", sans-serif;
$title-font: "Raleway", sans-serif;
